@import url('https://fonts.googleapis.com/css2?&family=Poppins&family=Roboto&display=swap');



:root {
    --primary-color: #f2bb05;
    --text-primary-color: #ffffff;
    --text-secondary-color: #949C9C;
    --background-color: #14192d;
    --primary-gradient: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}



html {
    font-family: 'Roboto', 'Poppins'sans-serif;
    scroll-behavior: smooth;
    background: var(--background-color);
    font-size: 16px;

}

body {
    font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}