/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#root {
    margin: 0 auto;
}


/* Reset default link styles */
a {
    text-decoration: none;
}

/* Reset default list styles */
ul,
ol {
    list-style: none;
}

/* Reset default table styles */
table {
    border-collapse: collapse;
}